@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
  /* Color - Theme */
  --color-primary-dark: #03045e;
  --color-primary-lighter: #023e8a;
  --color-secondary-dark: #023e8a;
  --color-secondary-lighter: #0096c7;
  --color-tertiary: #00b4d8;
  --color-orange-550: #f9682a;
  --color-blue-950: #1f388b;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.5px;

  .hero-bg {
    background: linear-gradient(
      to bottom,
      var(--color-primary-dark) 0%,
      var(--color-secondary-dark) 10%,
      var(--color-tertiary) 100%
    );
  }

  .hubungi-section {
    background: linear-gradient(
      to bottom,
      var(--color-tertiary) 0%,
      var(--color-secondary-dark) 80%,
      var(--color-primary-lighter) 100%
    );
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    110deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  background-size: 200% 100%;
  animation: shimmer 5s linear infinite;
}

.dot {
  background-image: radial-gradient(#001d3d 2px, transparent 2px);
  background-size: 20px 20px;
}
